__pycache__
*.pt



__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.log
env/
venv/
.venv/
build/
dist/
*.egg-info/
.eggs/
.ipynb_checkpoints/
.idea/
.vscode/

docker-compose.override.yml
.dockerignore

.DS_Store
*.swp

.env
secrets/
